<section class="post">
        <div class="post-title">
            <a href="/post/{{id}}"> <h3>{{title}}</h3> </a>
    
            <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
        </div>
        <p>{{content}}</p>
    </section>